@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button {
    background: none;
}

html {
    scroll-behavior: smooth;
}

.sec-padding {
    padding: 40px 80px;
}

.fade {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition-property: opacity, filter, transform;
    transition-duration: 0.9s, 0.9s, 0.9s;
    transition-timing-function: ease-out, ease-out, ease-out;
}

@media (prefers-reduced-motion) {
    .fade-right {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translatey(0);
    transition-property: opacity, filter, transform;
    transition-duration: 0.9s, 0.9s, 0.9s;
    transition-timing-function: ease-in, ease-in, ease-in;
}

#hero {
    background-image: url(../image/herobg.jpg);
    background-position: 50% 60%;
    background-size: cover;
    background-color: rgb(104, 101, 101);
    background-blend-mode: multiply;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.left {
    width: 40%;
    padding: 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    color: rgb(197, 197, 197);
    font-size: 100px;
    text-align: center;
    font-family: 'Lilita One', cursive;
}

.left-btn {
    width: 40%;
    padding: 0 20px;
    animation: fade-in 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: right-to-left 2s;
}

.left-btn a {
    border: 1px solid rgb(184, 35, 230);
    background: transparent;
    background-blend-mode: multiply;
    padding: 10px 20px;
    border-radius: 10px;
    color: aliceblue;
}

@keyframes right-to-left {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes left-to-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

#creative {
    padding: 50px 0;
    background-color: #250505;
}

#creative .title {
    text-align: center;
    color: aliceblue;
    font-size: 50px;
}

.art-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.art {
    width: 300px;
    height: 550px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s;
}

.art img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.art:hover img {
    transform: scale(1.2);
}

.art:hover::before {
    opacity: 1;
    transform: translateY(0);
}

.art::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s, transform 0.5s;
}

.art:nth-child(2) {
    transition-delay: 200ms;
}

.art:nth-child(3) {
    transition-delay: 400ms;
}

.art:nth-child(4) {
    transition-delay: 600ms;
}

#event .title h1 {
    font-size: 50px;
    padding: 50px 10%;
    color: #520404;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
}

.center img {
    padding: 10px;
    max-width: 100%;
    height: auto;
}

.news-1 img {
    height: auto;
}

.news-2 {
    max-width: 400px;
}


@media screen and (max-width: 767px) {
    .center img {
        padding: 5px;
    }
}

#apply {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../image/back1.jpg);
    background-size: cover;
    background-color: #a7a4af;
    background-blend-mode: multiply;
    height: 50vh;
}

#apply.container {
    display: flex;
    justify-content: center;
}

.apply-left,
.application {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

.apply-left {
    text-align: center;
    width: 40%;
    padding: 50px;
    box-sizing: border-box;
}

#apply.text {
    text-align: center;
    margin-bottom: 30px;
}

#apply h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: aquamarine;
}

.apply-btn button {
    background-color: #774caf;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.apply-btn button:hover {
    background-color: #8e3e8a;
}

.application {
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

form {
    margin-top: 20px;
    position: relative;
}

input[type="text"],
input[type="email"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.file-input-container {
    position: relative;
    margin-bottom: 20px;
}

.file-input-container label {
    display: block;
    background-color: #874caf;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.file-input-container label:hover {
    background-color: #6e3e8e;
}

.file-input-container input[type="file"] {
    display: none;
}

.file-name {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-20px);
}

.file-input-container:hover .file-name {
    opacity: 1;
    transform: translateY(0);
}

input[type="submit"] {
    background-color: #664caf;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #873e8e;
}

.animation-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.animation-container.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 24px;
    color: #333;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: scale(0.8);
}

.animation.active {
    opacity: 1;
    transform: scale(1);
}

@media only screen and (max-width: 420px) {

    #apply {
        flex-direction: column;
        height: auto;
    }

    .apply-left {
        width: 100%;
        padding: 20px;
    }

    .application {
        width: 100%;
        padding: 20px;
        margin-top: 20px;
    }

    #apply h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="email"] {
        font-size: 14px;
    }

    .apply-btn button {
        font-size: 14px;
    }

    input[type="submit"] {
        font-size: 14px;
    }

    .animation {
        font-size: 20px;
    }

}


@media (max-width: 868px) {
    #hero {
      height: 80vh;
    }
    
    .left, .left-btn {
      width: 100%;
      padding: 0 10px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    #hero h1 {
      font-size: 50px;
    }
  }